
data/de_DE/de_DE.news.txt
data/de_DE/de_DE.blogs.txt
data/de_DE/de_DE.twitter.txt
data/en_US/en_US.blogs.txt
data/en_US/en_US.news.txt
data/en_US/en_US.twitter.txt
data/fi_FI/fi_FI.blogs.txt
data/fi_FI/fi_FI.news.txt
data/fi_FI/fi_FI.twitter.txt
data/ru_RU/ru_RU.blogs.txt
data/ru_RU/ru_RU.news.txt
data/ru_RU/ru_RU.twitter.txt
.RData
